#main-page form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_choix{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.choix {
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.choix input[type=text], .choix input[type=password] {
    font-size:25px;
}

.choix select{
    width: 20%;
    font-size:25px;
}
#main-page form h1 {
    color: white;
}

#drop_zone {
    background-image: url("../images/dropIMG.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    width: 100%;
    height: 100px;
    border: 2px black solid;
    cursor: pointer;
}
#drop_zone input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form-box {
    background: rgba(0, 51, 102, 0.8); /* la couleur de fond */
    padding: 2vw; /* faire les bords */
    border-radius: 2vw; /* arrondir les bords */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    color: white;
    text-align: center;
}

.bouton {
    width: 30vh;
    background: none;

    border: 0.55vh solid rgb(0, 94, 184);
    color: white;
    padding: 1.5vh;
    font-size: 1.5vw;
    cursor: pointer;
    margin: 1.5vh 0;
}

.bouton:hover {
    background: rgb(0, 94, 184);
    border: 0.55vh solid rgb(0, 94, 184);
}

.choix {
    width: 100vh;
    overflow: hidden;
    font-size: 2vw;
    padding: 1vh 0;
    margin: 1vh 0;
}
#check {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-weight: bolder;
    font-size: large;
}
#check input[type=checkbox] {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 500px) {

    .form-box {
        width: 75vw;
    }

    #main-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}